.navbar{
    width: 100%;
    height: 90px;
    top:0;
    left:0;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #eee;
}

.navbar .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navbar span{
    color:#5651e5
}

.navbar .nav-menu{
    display: flex;
    /* align-items: center; */
}

.navbar li{
    padding: 1rem;
}

.navbar .hamburger{
    display: none;
}

.icon{
    font-size: 1.5rem;
}

@media screen and (max-width: 768px){
    .navbar .hamburger{
        display: block;
    }
    .navbar .nav-menu{
        display: flex;
        position: absolute;
        flex-direction: column;
        align-items: center;
        top: 90px;
        height: 100%;
        width: 100%;
        right: -100%;
        background-color: rgb(255, 255, 255, 0.95);
        transition: 0.4 ease-in-out;
        z-index: 1;
    }

    .navbar  .active{
        right: 0%;
    }
    .navbar .nav-menu li a {
        font-size: 2rem;
    }
}
    
