.best {
    width: 100%;
    margin: 4rem 0;
    text-align: center;
}

.best > div{
    display: flex;
    justify-content: center;
}

.best > div p{
    margin : 1rem 2rem;
}
.bold {
    font-weight: bold;
}

.best .container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
}

.best  img{
    width: 100%;
}

@media screen and (max-width: 940px) {
    .best {
        margin : 1rem 0;
    }
    .best .container{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0.8rem;
        padding: 0.8rem;
    }
}


